
/******************* this is box two ******************/

.per_text{
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #0A0E0F;
}
.account_box_two{
    width: 710px;
    height:365px;
    background-color: #fff;
    padding: 10px;
}
.cuttent_pass{
    width: 660px;
    height: 56px;
    border-radius: 8px;
    padding: 10px;
    border: solid 2px grey;
    margin: 10px;
}
.new_pass{
    width: 660px;
    height: 56px;
    border-radius: 8px;
    padding: 10px;
    border: solid 2px grey;
    margin: 10px;

}
.re_pass{
    width: 660px;
    height: 56px;
    border-radius: 8px;
    padding: 10px;
    border: solid 2px grey;
    margin: 10px;
}
.sav_btn{
    background: #AEB2B9;
    font-family: 'Nunito', sans-serif;
    padding: 19px 24px 18px;
    color: #fff;
    width:100%;
    height: 59px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 21px;
    border-radius: 8px;
    margin: 10px 0px 10px 0px;
    border: none;
}