
/******************* this is box two ******************/
/* .flexbox{
    display: flex;
    margin: 150px 0;
} */
.profile-sec {
    max-width: 75% !important;
    margin: auto !important;
    width: 100%;
}
.main-body {
    /* margin-top: 100px !important; */
    /* margin-bottom: 40px !important; */
}
.flexbox {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    column-gap: 35px;
}
.profile_box_two{
    background-color: #fff;
   max-width: 100%;
    padding: 17px;

}
.pro_heading{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #0A0E0F;

}
.pro_pic{
    margin-top: 15px;
    width: 100%;
    height: auto;
}
.big_btn{
    border: 2px solid #10867F;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 110px 15px 110px;
    width: 100%;
    color: #10867F;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    text-transform: capitalize;   
    margin: 0px 15px 0px 15px;
}
.pic_flex_box{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}
.per_text{
    font-size: 20px;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 0.15px;
    color: #0A0E0F;;
    padding: 25px 0px 5px 0px;
}
.name{
    width: 100%;
    /* height: 56px; */
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #dee2e6!important;
   
}
.dob{
    width: 100%;
    /* height: 56px; */
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 15px;
    border: 2px solid #dee2e6!important;
    
}
.gender{
    width: 100%;
    /* height: 56px; */
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 2px solid #dee2e6!important;
    background-color: #fff;

}
.dis_btn{
    background-color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    padding: 19px 24px 18px;
    color: #000;
    width: 100%;
    /* height: 59px; */
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 21px;
    border-radius: 8px;
    margin: 10px 15px 10px 0px;
    border: 2px solid #dee2e6!important;
    
}
.sav_btn{
    background: #10867F;
    font-family: 'Nunito Sans', sans-serif;
    padding: 19px 24px 18px;
    color: #fff;
    width: 100%;
    /* height: 59px; */
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 21px;
    border-radius: 8px;
    margin: 10px 0px 10px 0px;
    border: none;
    
   
}
.input_flex_box{
    display: flex;
}
.button_flex_box{
    display: flex;
}

@media screen and (max-width: 982px) {
    .big_btn{
        margin-top: 10px;
    }
}

@media screen and (max-width: 992px) {
    .pic_flex_box{
        flex-wrap: wrap;
    }
    .big_btn{
        margin-left: 0px;
        margin-top: 10px;
}  
}

@media screen and (max-width:992px) { 
    .pro_pic{
        width: 50%;
    }
    .profile_box_two{
        width:100%;
    }
    .box_one{
        width: 100%;
    }
    .big_btn{
        width: 52%;
    }
    .profile-sec {
        max-width: 90% !important;
    }
}


@media screen and (max-width:768px) {
.big_btn{
    padding: 10px 0px 10px 10px;
}

}

@media screen and (max-width:668px) {
    
    .flexbox {
        display: flex;
        grid-template-columns: 100%;
        width: 100%;
        column-gap: 35px;
        flex-direction: column-reverse;
    }
    .profile-sec {
        max-width: 100% !important;
    }
    .profile_box_one {
        margin-top: 30px;
    }
    .pro_heading {
        font-size: 24px;
        text-align: center;
        padding-bottom: 30px;
    }
    .per_text , .profile_box_one  {
        text-align: center;
    }
   
   
    }
 

    

