.banner-sec {
    height: 100vh;
    /* background: #000; */
}

.her0 {
    max-width: 100%;
    margin: auto;
    background-color: #1111113f;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: fixed; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1999;
    padding: 0;
}

.banner-sec {
    height: auto;
    /* background: url("../../Images/Randwick_V1-0030.mp4"); */
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    background-size: cover;
}

.homelogin {
    width: 140px;
    height: 45px;
}

.bnner-btn .signbtn {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0px;
    color: #000000;
    padding: 15px 33px 15px 33px;
    text-transform: none;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: #f0b91b;
    min-width: 300px;
    margin: 10px 0px;
}

.signbtn:hover {
    background: #4AA331 !important;
}

.baner-ct h2 {
    font-size: 3rem;
    color: #fff;
    line-height: 64px;
    text-transform: capitalize;
    font-weight: 600;
}

.baner-ct h2 span {
    color: #F0B91A;
}

.baner-ct p {
    font-size: 22px;
    font-style: normal;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
}

.baner-ct {
    padding-right: 46px;
    padding: 50px 0px;
    text-align: center;
    width: 992px;
    margin: auto;
}

.baner-ct img {
    max-width: 300px;
    min-width: 18rem;
}

.homelogin {
    background-color: rgb(240, 185, 27) !important
}

.homelogin:hover {
    background-color: #4AA331 !important
}

/* tips css */
.tips-main {
    width: 100%;
    margin: auto;
}

.tips-sec {
    padding: 0px;
    text-align: center;
    background: linear-gradient(0deg, rgba(62, 53, 53, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
}

.tips-ct h2 {
    font-size: 44px;
    font-weight: 700;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
    transition: color 200ms;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    -webkit-transition: color 200ms;
}

.tips-ct p {
    font-size: 22px;
    font-style: normal;
    margin-top: 5px;
    margin-bottom: 0rem;
}


.section-title h3 {
    font-size: 48px;
    font-weight: 800;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 0px;
    line-height: 52px;
}

.section-title {
    text-align: center;
}


.hor-list ul li {
    list-style: none;
    padding: 0 32px;
    font-size: 18px;
    color: #767A81;
    transition: all 100ms ease-in-out;
}

.hor-list ul li:nth-child(2) {
    border-left: 1px solid #e2e2e2;
}

.hor-list ul {
    display: inline-flex;
}

.hor-list li:hover {
    cursor: pointer;
    color: #e8a600;
}

.hor-list {
    text-align: center;
}

.hor-list ul.hor-list {
    list-style: none;
    display: flex;
}

.hor-list ul.hor-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.hor-list li {
    margin: 10px 15px;
    font-size: 18px;
    color: #767A81;
    transition: all 100ms ease-in-out;
}

.hor-list ul.hor-list li:nth-child(2) {
    border-left: 1px solid #e2e2e2;
    padding-left: 15px;

}

.rate-mian h3 {
    font-size: 70px;
    font-weight: 800;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
    color: #70534f;
}

.rate {
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.rate-mian p {
    font-size: 22px;
    font-style: normal;
    color: #03203E;
    margin-top: 5px;
}

/* .result {
    height: auto;
    background-image: url(../image/Graph-background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
} */

.result {

    background-image: url("../../Images/winninghorse.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    background-position: center;
}

.rate-mian {
    margin: 60px 0px;
    text-align: center;
    position: relative;
    /* animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 20px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 10px;
    margin: 20px;



}

.sec2container {
    margin-top: 50px;
    width: 100% !important;
}

.sec2flex {
    display: flex !important;
    width: 100%;
    flex-direction: row !important;
    justify-content: space-evenly;



}


/* tips start */
.card {
    width: 50%;

}

.sec_2 {
    width: 100%;

}

.resut-content {
    margin: 0px;
    width: 100%;


}

.resut-content h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #03203e;
    text-align: center;
    width: 100%;
    /* margin-top: 15px; */
}

.resut-content p {
    font-size: 18px;
    font-style: normal;
    color: #03203E;
    /* margin-top: 24px; */
    text-align: center;
}

.resut-content ul li {
    text-align: center;
}

.resut-content span {
    color: #F0B91C;
}

/* er-img .tips-mian {
    padding: 30px 0px;

} */

.tips-mian {
    padding-top: 290px;
}

.f-card {
    height: 750px;
}

.card1 {
    /* height: 140px; */
    justify-content: center;
    margin: 13px;
    border-radius: 22px;
    padding: 20px 0;

}

.card img {
    max-width: 52px !important;
}

.f-card .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1pxsolidrgba(0, 0, 0, .125);
    border-radius: 20px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 40px;
    margin: 10px;
}

.card p {
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
}


.Reliable-sec {
    background: #C5AEA3;
    padding: 50px 0px;
}

.reliav-main {
    display: flex;
    align-items: center;
    max-width: 990px;
    margin: auto;
}

.reliable-img {
    text-align: center;
}

.reliable-cont h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
}

.reliable-cont p {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    margin-top: 24px;
}

.reliable-cont {
    padding-left: 35px;
    padding-right: 25px;
}

ul.tiip-list li {
    font-size: 18px;
}

.relai2 {
    height: auto;
    /* background-image: url("../../Images/races.png"); */
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

/* .result {
    height: auto;
    background-image: url(../image/man-betting.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
} */
.relai2 .reliable-cont {
    padding-left: 0px;
    padding-right: 30px;
}


/* tipping section start */
.tipping-sec {
    background-image: url("../../Images/new-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.tipping_opacity {
    background-color: rgba(0, 0, 0, 0.668);
}

.tipping-sec .section-title h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 64px;
    color: #fff;
}

.section-title h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 64px;
    margin-top: 30px;
}

.section-title p {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 50px;
    line-height: 34px;
    margin-top: 10px;
}

.section-title h4 span {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
    padding-top: 47px !important;
}

.tipp-img {
    text-align: center;
}

.tippimg-main {
    max-width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.tipp {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

}

.tipping1 {
    display: flex;
    align-items: center;
    color: #fff;
    width: 50%;
    border-radius: 20px;
    border: 0.5px solid #ffd9007f;
    background: rgba(0, 0, 0, 0.61);
    margin: 20px 10px;
    padding: 15px;
    height: 100%;
}

.tipping-ct h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
}

.tipping-ct p {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    margin-top: 0px;
    line-height: 20px;
    padding-bottom: 15px;
}

.return {
    margin: 12px 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    width: auto;
    /* width: 200px; */
}

.return span {
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
    background: #a55947;
    border-bottom: 1px solid #e97f65;
    padding: 8px 10px;
    margin: 12px 0;
    border-radius: 3px;
}

.tiip-list ul {
    list-style: none;
    padding: 0;
}

ul.tiip-list {
    list-style: none;
    padding: 0px;
}

ul.tiip-list i {
    color: #a55947;
    padding-right: 10px;
}

ul.tiip-list li {
    padding: 7px 0px;
}

.tipping1:nth-child(3) span {
    background: #d6cfcf;
    border-color: #d6cfcf;
}

.tipping1:nth-child(3) ul.tiip-list i {
    color: #d6cfcf;
}

.tipping1:nth-child(4) span {
    background: #e9b818;
    border-color: #e9b818;
}

.tipping1:nth-child(4) ul.tiip-list i {
    color: #e9b818;
}

.tipping1:nth-child(5) span {
    background: #b8d3d5;
    border-color: #b8d3d5;
}

.tipping1:nth-child(5) ul.tiip-list i {
    color: #b8d3d5;
}

.tippimg-main .bnner-btn {
    text-align: center;
    margin-top: 30px;
}

.tipp-img img {
    max-width: 100%;
    height: 100%;
}


/* 
service section start */
.Services-sec {
    background-image: url("../../Images/serviceback.jpg");
    background-position: center;
    background-size: cover;

}

.Services-sec .section-title h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #fff;
    line-height: 64px;
}

.service-main {
    max-width: 990px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 30px 0px;
}

.service-ct h3 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #fff;
    line-height: 50px;
}

.service-ct p {
    font-size: 18px;
    font-style: normal;
    color: #fff;
    line-height: 24px;
}

.service-img2 img {
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
}

.ser-img {
    display: flex;
}

.ser-img img {
    margin-right: 10px;
}


/* follwe  */
.follw-sec {
    text-align: center;
}

ul.socil-link {
    list-style: none;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-right: 27px;
}

ul.socil-link li {
    padding: 10px 65px;
    margin-right: 5px;
    font-size: 80px;
    color: #735652;
}

.foll-ct h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #03203e;
    line-height: 44px;
}


/* newsletter  */

.centernews {
    display: flex;
    justify-content: center;
}

.news-main {
    padding: 26px 10px 15px 10px;
    background: linear-gradient(0deg, rgba(62, 53, 53, 1) 0%, rgba(0, 0, 0, 1) 100%);
    /* border-radius: 10px; */
    width: 70%;
    border-radius: 50px;
    margin-bottom: 5rem;
}


.mes-cont h4 {
    font-size: 3rem;
    padding-bottom: 13px;
    margin-top: -3px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
}

.mes-cont p {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    margin-top: 12px;
    line-height: 24px;
}

.mesbtn input {
    padding: 16px 24px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin-bottom: 16px;
    width: 100% !important;
    display: block;
    max-width: 300px;
    margin-right: 0 !important;
    text-transform: none;
    letter-spacing: 0;
    transition: all 250ms ease-in-out;
    min-height: 55px;
}

.form-btn {
    background-color: #F0B91C;
    color: #000000;
}

.form-btn {
    padding: 16px 24px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin-bottom: 16px;
    width: 100% !important;
    display: block;
    max-width: 300px;
    margin-right: 0 !important;
    text-transform: none;
    letter-spacing: 0;
    transition: all 250ms ease-in-out;
    min-height: 55px;
}

.form-btn:hover {
    background-color: #4AA331;
}

::-webkit-input-placeholder {
    /* Edge */
    color: red;
}

.reliable-img img {
    max-width: 100%;
    height: auto;
}

.card img {
    max-width: 25px !important;
}


.wiinner-sec {
    background: linear-gradient(0deg, rgba(62, 53, 53, 1) 0%, rgba(0, 0, 0, 1) 100%);
    padding: 15px 0px 12px 0px;
    text-align: center;
    color: #fff;
}

.winner-main h3 {
    font-size: 3rem;
    font-weight: 650;
    text-transform: none;
    color: #ffffff;
    line-height: 64px;
}

.winner-main p {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    line-height: 20px;
}

.testimpnal-sec .section-title h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #000;
    line-height: 38px;
}

.testimpnal-sec .section-title {
    text-align: left;
    padding-left: 75px;
}

.slide {
    background: url("../../Images/Rectangle_1370.png ");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    height: 500px;

}

.checked {
    color: orange;
}

/* .carousel-control-prev-icon {
    background: #000;
} */
.carousel-item {
    text-align: center;
}

.carousel-item h3 {
    color: #ffffff;
    font-size: 18px;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 1px;
}

.carousel-item h4 {
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    max-width: 588px;
    margin: 0 auto;
    padding: 60px 0px;
}

/* .carousel-item h4:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */
.carousel-item p span {
    color: #ffffff;
    font-size: 18px !important;
    font-style: normal !important;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    max-width: 588px;
    margin: auto;
    padding: 60px 0px;

}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #e8a600 !important;
    background-clip: padding-box;
    border: 25px !important;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 45px !important;
}

.curoseldesign {
    display: flex;
    background-color: #000;
    flex-direction: column;
    width: 60%;
    border-radius: 40px;
}

.cureseldesignparent {
    display: flex;
    justify-content: center;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -63px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.testimpnal-sec {
    padding-bottom: 80px;
}

.mob-img {
    height: auto;
    max-width: 100%;
    width: 561px !important;
}

.resut-content ul {
    list-style: none;
    padding: 0;
}

.resut-content ul li i {
    color: #A96E3A;
}

/* tab section  start */

.tab-section .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: center !important;
}

.tab-section .nav-tabs {
    border-bottom: none !important;
}

.mes-cont {
    text-align: center;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #e8a600;

    background-color: #fff;
    border-color: none !important;
}

.tab-section .nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.tab-section .nav-link {
    display: block;
    color: #495057;

    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.sec_2 {
    width: 100% !important;
    --bs-gutter-x: 0;
}


/* ........................responsive.................................................... */
@media(max-width:1200px) {
    .banner-main {
        height: 900px;
    }

    .tipp-img {
        max-width: 90%;

    }

    .tipping-ct {
        width: 110%;
        padding: 0;
        margin: 0;

    }

    .return {
        margin: 5px 0;
    }

    .tipping-ct p {
        font-size: 16px;

        line-height: 18px;
        padding-bottom: 5px;
    }
}



@media(max-width:1024px) {
    .baner-ct h2 {
        font-size: 45px;
        color: #fff;
        line-height: 56px;
        text-transform: capitalize;
        font-weight: 600;
    }

    .tipping1 {
        flex-direction: column;
        justify-content: center;
    }

    .banner-main {
        height: 840px;
    }

    .tipping-ct {
        width: 100%;
        padding: 0;
        padding-top: 10px;

        margin: 0;

    }
}


@media(max-width:992px) {

    .return span {
        font-size: 2vw;

    }

    .tipp {
        flex-direction: row;
    }

    .tiip-list li {
        text-align: center;
    }

    .caender .btn {
        width: 100% !important;
    }

    .result-mian {
        padding: 0;
    }

    /* .media-banner{
        display: block !important;
    } */
    .banner-main {
        width: 100%;
        margin: 0;

    }

    /* .result {
        background-image: none !important;       

    } */


    .relai2 {
        background: #C5AEA3;
    }

    .mob-img {
        display: block !important;
    }

    .reliable-cont h3 {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 0px;
        text-transform: none;
        color: #ffffff;
    }

    /* //video */
    .video-container {
        /* height: 300px;
        width: 300px; */
        overflow: hidden;
        position: relative;
    }

    .video-container video {
        /* min-width: 100%;
        min-height: 100%; */
        position: absolute;
        top: 50%;
        left: 50%;
        /* transform: translateX(-50%) translateY(-50%); */
    }

    /* Just styling the content of the div, the *magic* in the previous rules */
    .video-container .caption {
        z-index: 1;
        position: relative;
        text-align: center;
        color: #dc0000;
        padding: 0px;
    }

    /* //video */
    .her0 {
        max-width: 100%;
        margin: auto;
        padding: 0px;
        bottom: 0;
        z-index: 99999999999999;
    }

    .baner-ct {
        width: 100%;
    }

    .baner-ct p {
        padding-right: 0px;
        text-align: center;
        margin: 0 auto;
        width: 80%;
        justify-content: center;
    }

    /* .baner-ct {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: #000000bf;
        padding-right: 0px;
        padding: 20px;
        text-align: center;
    } */
    .bnner-btn .signbtn {
        min-width: 270px;
    }

    .baner-ct img {
        max-width: 110px;
        min-width: 16rem;

    }

    .baner-ct h2 {
        font-size: 40px;
        color: #fff;
        line-height: 54px;
        text-transform: capitalize;
        font-weight: 600;

    }

    .baner-ct p {
        font-size: 17px;
        font-style: normal;
        color: #ffffff;
        padding-right: 0px;
        padding-top: 10px;
        line-height: 26px;
    }

    .sticky {
        top: 0;
        width: 100%;
        z-index: 999;
        position: relative;
    }

    .Services-sec {
        padding: 0px 0px 1px 0px;
    }

    .tipping-sec {
        /* padding: 40px 0px 40px 0px; */
    }

    .tipping-sec .section-title h3 {
        font-size: 40px;
        line-height: 56px;
    }

    .resut-content h3 {
        font-size: 40px;
        line-height: 56px;
        text-align: center;
    }

    .result {
        padding: 0px;
    }

    .tipp-img {
        max-width: 100%;

    }
}

@media(max-width:778px) {
    .video-container {
        min-height: 100vh;
    }

    .vp {
        position: unset;
    }

    #background-video {
        width: 100%;
        min-height: 100vh;
        object-fit: cover;
        /* position: fixed; */
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        padding: 0;
    }

    .return span {
        font-size: 2vw;

    }

    .tipp {
        flex-direction: column;
    }

    .tipp btn {
        width: 100%;
    }

    .baner-ct {
        padding: 30px 10px;
    }

    .banner-sec {
        margin-top: 0px;
    }

    .her0 {
        max-width: 100%;
        background-color: #000000a6 !important;
    }

    .logo img {
        max-width: 100px;
    }

    .header button.signbtn {
        display: none;
    }

    .header .sign-btn {
        text-align: center;
        padding: 0px;
    }

    .banner-sec {
        width: 100%;
    }

    .banner-main {
        width: 100%;

    }

    .reliable-img img, .mob-img img {
        width: 100%;
    }

    .baner-ct {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

        text-align: center;
    }

    /* .media-banner{
        display: block !important;
    }
     */
    .banner-main {
        margin: 0;
    }


    .baner-ct h2 {
        font-size: 30px;
        color: #fff;
        line-height: 32px;
    }

    .baner-ct p {
        padding-right: 0px;
    }

    .tips-ct {

        margin: 5px;
    }

    .result-mian {
        padding: 45px 0px;
    }

    .rate-mian h3 {
        font-size: 35px;
    }

    .rate-mian p {
        font-size: 18px;
    }

    .resut-content p {
        font-size: 16px;
        text-align: center;
    }

    .tips-mian {
        padding: 0px;
    }

    .sec2flex {
        flex-wrap: wrap !important;
        width: 100%;
    }

    .reliable-cont {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .Reliable-sec {
        padding-top: 30px !important;
    }

    .relai2 .reliable-cont {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    .relai2 {
        background: #C5AEA3;
    }

    .mob-img {
        display: block;
    }

    .baner-ct p {
        font-size: 16px;
        line-height: 26px;
    }

    .Reliable-sec {
        padding: 0px;
    }

    .reliable-img img {
        padding-bottom: 30px;
    }

    .tipping-sec .section-title h3 {
        font-size: 40px;
        line-height: 54px;
    }

    .tipp-img img {
        /* max-width: 140px; */
        height: 100%;
    }

    .tipping1 {
        text-align: center;
        margin: 25px 0px;
    }

    .tipping-ct h3 {
        font-size: 35px;
    }

    .tippimg-main {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .service-main {
        text-align: center;
    }

    .Services-sec {
        padding: 0px 0px 0px 0px;
    }

    .testimpnal-sec .section-title {
        text-align: center;
        padding-left: 0px;
    }

    .carousel-item h4 {
        margin: 20px auto;
        padding: 20px 15px;
    }

    .news-main {
        padding: 30px 30px 20px 20px;
        margin: 60px 0px;
        text-align: center;
    }

    .mes-cont h4 {
        font-size: 35px;
        font-weight: 700;
        line-height: 46px;
    }

    .mesbtn {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wiinner-sec {
        padding: 40px 0px;
        text-align: center;
    }

    .winner-main h3 {
        font-size: 35px;
        line-height: 44px;
    }

    .footer-vct h4 {
        text-align: center;
    }

    .service-ct {
        padding-top: 20px;
    }

    .card {
        margin: 10px 0px;
        padding: 15px;
    }

    .service-ct h3 {
        font-size: 30px;
        line-height: 34px;
    }

    .bnner-btn .signbtn {
        padding: 12px 33px 12px 33px;
    }

    .rate-mian {
        margin: 30px 0px;
    }

    .resut-content h3 {
        font-size: 31px;
        font-weight: 700;
        text-align: center;
        line-height: 44px;
    }

    .tipp btn {
        width: 100% !important;
    }

    .tipp .btn {
        width: 100% !important;
    }

    .banner-main {
        height: 720px !important;
    }

    .card1 {
        width: 200px;
        margin: 0 auto;
        margin-top: 20px;
        padding: 10px;
    }

    .sec2num {
        margin-bottom: 20px;
    }

    .sec2num h2 {
        font-size: 35px;

    }
}

@media(max-width:667px) {
    .tipping-sec .section-title h3 {
        font-size: 35px;
        line-height: 44px;
    }

    .tippimg-main {
        max-width: 100%;
    }

    .tipping1 {
        margin: 0px 0px;
    }

    .Services-sec .section-title h3 {
        font-size: 35px;
        line-height: 44px;
    }

    .Services-sec {
        padding: 0px 0px 0px;
    }

    .baner-ct h2 {

        font-size: 30px;
        color: #fff;
        line-height: 32px;

    }

    .tips-ct h2 {
        font-size: 35px;
    }

    ul.socil-link li {
        padding: 10px 40px;
        margin-right: 5px;
        font-size: 70px;
        color: #735652;
    }

    .section-title h3 {
        font-size: 35px;
        line-height: 44px;
    }

    .result-mian {
        padding: 0px 0px;
    }

    .banner-main {
        height: 575px;
    }

    .baner-ct img {
        max-width: 90px;
    }

    .mediaCard {
        width: 60vw !important;
        padding: 10px !important;
    }
}

@media(max-width:1082px) {
    .return {
        display: flex;
        justify-content: center;
        width: auto;
    }
}

@media(max-width:500px) {
    .banner-main {
        height: 623px !important;
    }

    .baner-ct img {
        min-width: 11rem;
    }

    .baner-ct h2 {
        font-size: 26px;
        line-height: 30px;
    }

    .bnner-btn .signbtn {
        padding: 9px 25px 9px 25px;
    }

    .slide {
        background: url("../../Images/Rectangle_1370.png ");
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        align-items: center;
        height: 500px;

    }

}

@media(max-width:410px) {
    ul.socil-link {
        list-style: none;
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-right: 27px;
        flex-direction: column;
    }

    ul.socil-link li {
        font-size: 80px;
    }

    .homelogin {
        width: 100px;
        height: 42px;
    }

}


@media(min-width:2500px) {

    .tips-sec {
        position: relative;
        top: 20rem;
        right: 8rem;
    }

    .news-main {
        padding: 26px 99px 28px 134px;
        background: linear-gradient(0deg, rgba(62, 53, 53, 1) 0%, rgba(0, 0, 0, 1) 100%);
        /* border-radius: 10px; */
        width: 60%;
        border-radius: 50px;
    }

    .f-card .card {
        position: relative;
        right: 8rem;
        height: 700px;
        justify-content: center;

    }

    .f-card .card p {
        font-size: 30px;
        line-height: 34px;
        /* margin-top: 30px; */
    }
}



@media(min-width:3000px) {

    .tips-sec {
        position: relative;
        top: 35rem;
        right: 8rem;
    }

    .f-card .card {
        position: relative;
        right: 8rem;
        height: 800px;

    }

    .f-card .card p {
        font-size: 35px;
        line-height: 40px;
        margin-top: 30px;
    }
}
