.banner-sec {
    height: 100vh;
    background: #000;
}
.her0 {
    max-width: 80%;
    margin: auto;
}

.banner-sec {
    background-color: #000;
    height: auto;
    background-image: url("../../Images/goat-tips-hero.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
}
.bnner-btn .signbtn{
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0px;
    color: #000000;
    padding: 16px 33px 16px 33px;
    text-transform: none;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: #f0b91b;
    min-width: 300px;
    margin: 15px 0px;
}
.baner-ct h2 {
    font-size: 54px;
    color: #fff;
    line-height: 64px;
    text-transform: capitalize;
    font-weight: 600;
}
.baner-ct h2 span {
    color: #F0B91A;
}
.baner-ct p {
    font-size: 22px;
    font-style: normal;
    color: #ffffff;
    padding-right: 153px;
    padding-top: 10px;
}
.baner-ct {
    clip-path: polygon(0 0, 81% 0, 100% 100%, 0% 100%);
    background: #000;
    padding-right: 46px;
    padding: 50px 0px;
}



/* tips css */
.tips-main {
    max-width: 900px;
    margin: auto;
}
.tips-sec {
    background-color: #A96C28;
    padding: 40px 0px;
    text-align: center;
}
.tips-ct h2 {
    font-size: 48px;
    color: #ffffff;
    font-weight: 800;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
    transition: color 200ms;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    -webkit-transition: color 200ms;
}
.tips-ct p {
    font-size: 22px;
    font-style: normal;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: 0rem;
}
.brde{
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
}

.section-title h3 {
    font-size: 48px;
    font-weight: 800;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 0px;
    line-height: 52px;
}
.section-title {
    text-align: center;
}

.result-mian {
    padding: 100px 0px 242px 0px;
}
.hor-list ul li {
    list-style: none;
    padding: 0 32px;
    font-size: 18px;
    color: #767A81;
    transition: all 100ms ease-in-out;
}
.hor-list ul li:nth-child(2) {
    border-left: 1px solid #e2e2e2;
}

.hor-list ul {
    display: inline-flex;
}
.hor-list li:hover {
    cursor: pointer;
    color: #e8a600;
}
.hor-list {
    text-align: center;
}
.hor-list ul.hor-list {
    list-style: none;
    display: flex;
}
.hor-list ul.hor-list {
    list-style: none;
    display: flex;
    justify-content: center;
}
.hor-list li {
    margin: 10px 15px;
    font-size: 18px;
    color: #767A81;
    transition: all 100ms ease-in-out;
}
.hor-list ul.hor-list li:nth-child(2) {
    border-left: 1px solid #e2e2e2;
    padding-left: 15px;
    
}
.rate-mian h3 {
    font-size: 70px;
    font-weight: 800;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0px;
    color: #70534f;
}
.rate {
    text-align: center;
    max-width: 1100px;
    margin: auto;
}

.rate-mian p {
    font-size: 22px;
    font-style: normal;
    color: #03203E;
    margin-top: 5px;
}
/* .result {
    height: auto;
    background-image: url(../image/Graph-background2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
} */

.result {
    height: auto;
    background-image: url("../../Images/bg-img1.png") !important;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.rate-mian {
    margin: 60px 0px;
}
/* tips start */
.resut-content h3 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #03203e;
    text-align: left;
    margin-top: 15px;
}
.resut-content p {
    font-size: 18px;
    font-style: normal;
    color: #03203E;
    margin-top: 24px;
    text-align: left;
}

.resut-content ul li {
    text-align: left;
}
.resut-content span {
    color: #F0B91C;
}
.tips-mian {
    padding: 30px 0px;
}
.card img {
    max-width: 52px !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1pxsolidrgba(0,0,0,.125);
    border-radius: 20px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    padding: 10px;
    margin: 20px;
}
.card p {
    font-size: 14px;
    line-height: 20px;
    margin-top:10px;
}


.Reliable-sec {
    background: #C5AEA3;
    padding: 50px 0px;
}
.reliav-main {
    display: flex;
    align-items: center;
    max-width: 990px;
    margin: auto;
}
.reliable-img {
    text-align: center;
}
.reliable-cont h3 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
}
.reliable-cont p {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    margin-top: 24px;
}
.reliable-cont {
    padding-left: 35px;
    padding-right: 25px;
}


.relai2 {
    height: auto;
    background-image: url("../../Images/races.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size:contain;
    width: 100%;
}
/* .result {
    height: auto;
    background-image: url(../image/man-betting.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
} */
.relai2 .reliable-cont {
    padding-left: 0px;
    padding-right: 30px;
}


/* tipping section start */
.tipping-sec {
    padding: 60px 0px 60px 0px;
    background: linear-gradient(0deg, rgba(62,53,53,1) 0%, rgba(0,0,0,1) 100%);
}
.tipping-sec .section-title h3 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 64px;
    color: #fff;
}
.section-title h3 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    line-height: 64px;
}
.section-title p {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 50px;
    line-height: 34px;
    margin-top: 10px;
}
.section-title h4 span {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
    padding-top: 47px !important;
}
.tipp-img {
    text-align: center;
}
.tippimg-main {
    max-width: 730px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.tipping1 {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 35px 0px;
}
.tipping-ct h3 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
}
.tipping-ct p {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    margin-top: 0px;
    line-height: 20px;
    padding-bottom: 15px;
}
.return {
    margin: 12px 0;
    border-radius: 3px;
}
.return span {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
    background: #a55947;
    border-bottom: 1px solid #e97f65;
    padding: 8px 20px;
    margin: 12px 0;
    border-radius: 3px;
}
.tiip-list ul {
    list-style: none;
    padding: 0;
}
ul.tiip-list {
    list-style: none;
    padding: 0px;
}
ul.tiip-list i {
    color: #a55947;
    padding-right: 10px;
}
ul.tiip-list li {
    padding: 7px 0px;
}
.tipping1:nth-child(3) span {
    background: #d6cfcf;
    border-color: #d6cfcf;
}
.tipping1:nth-child(3) ul.tiip-list i {
   color:#d6cfcf ;
}

.tipping1:nth-child(4) span {
    background: #e9b818;
    border-color: #e9b818;
}
.tipping1:nth-child(4) ul.tiip-list i {
   color:#e9b818 ;
}
.tipping1:nth-child(5) span {
    background: #b8d3d5;
    border-color: #b8d3d5;
}
.tipping1:nth-child(5) ul.tiip-list i {
   color:#b8d3d5 ;
}

.tippimg-main .bnner-btn {
    text-align: center;
}
.tipp-img img {
    max-width: 100%;
    height: 100%;
}


/* 
service section start */
.Services-sec {
    padding: 60px 0px 60px 0px;
}
.Services-sec .section-title h3 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #000;
    line-height: 64px;
}
.service-main {
    max-width: 990px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 30px 0px;
}
.service-ct h3 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #03203e;
    line-height: 50px;
}
.service-ct p {
    font-size: 18px;
    font-style: normal;
    color: #03203E;
    line-height: 24px;
}
.service-img2 img {
    border-radius: 15px;
    max-width: 100%;
    height: 100%;
}


/* follwe  */
.follw-sec {
    text-align: center;
}
ul.socil-link {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.socil-link li {
    padding: 10px;
    font-size: 35px;
    color: #735652;
}
.foll-ct h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #03203e;
    line-height: 32px;
}


/* newsletter  */
.news-main {
    padding: 60px 110px 60px 110px;
    background: linear-gradient(0deg, rgba(62,53,53,1) 0%, rgba(0,0,0,1) 100%);
    border-radius: 10px;
    margin: 60px 0px;
}
.mes-cont h4 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #ffffff;
}
.mes-cont p {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    margin-top: 16px;
    line-height: 24px;
}
.mesbtn input {
    padding: 16px 24px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin-bottom: 16px;
    width: 100% !important;
    display: block;
    max-width: 300px;
    margin-right: 0 !important;
    text-transform: none;
    letter-spacing: 0;
    transition: all 250ms ease-in-out;
    min-height: 55px;
}
.form-btn  {
    background-color: #F0B91C;
    color: #000000;
}
 .form-btn{
    padding: 16px 24px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin-bottom: 16px;
    width: 100% !important;
    display: block;
    max-width: 300px;
    margin-right: 0 !important;
    text-transform: none;
    letter-spacing: 0;
    transition: all 250ms ease-in-out;
    min-height: 55px;
}
::-webkit-input-placeholder { /* Edge */
    color: red;
  }
  .reliable-img img {
    max-width: 100%;
    height: auto;
}
.card img {
    max-width: 25px !important;
}


.wiinner-sec {
    background: linear-gradient(0deg, rgba(62,53,53,1) 0%, rgba(0,0,0,1) 100%);
    padding: 70px 0px 70px 0px;
    text-align: center;
    color: #fff;
}
.winner-main h3 {
    font-size: 48px;
    font-weight: 700;
    text-transform: none;
    color: #ffffff;
    line-height: 64px;
}
.winner-main p {
    font-size: 18px;
    font-style: normal;
    color: #ffffff;
    line-height: 20px;
}
.testimpnal-sec .section-title h3 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: none;
    color: #000;
    line-height: 38px;
}
.testimpnal-sec .section-title {
    text-align: left;
    padding-left: 75px;
}
.checked {
    color: orange;
  }
  /* .carousel-control-prev-icon {
    background: #000;
} */
.carousel-item {
    text-align: center;
}

.carousel-item h3 {
    color: #03203e;
    font-size: 18px;
    text-transform: none;
    font-weight: 700;
    letter-spacing: 1px;
}
.carousel-item h4 {
    color: #ffffff;
    font-family: "Nunito Sans",sans-serif !important;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    max-width: 588px;
    margin: 20px auto;
    padding: 60px 0px;
}
.carousel-item h4:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.carousel-item p span {
    color: #A96E3A;
    font-size: 18px !important;
    font-style: normal !important;
    font-family: "Nunito Sans",sans-serif !important;
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    max-width: 588px;
    margin: auto;
    padding: 60px 0px;
   
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #e8a600 !important;
    background-clip: padding-box;
    border: 25px !important;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 45px !important;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -63px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}
.testimpnal-sec {
    padding-bottom: 80px;
}
.mob-img {
    display: none;
}
.resut-content ul {
    list-style: none;
    padding: 0;
}
.resut-content ul li i {
    color: #A96E3A;
}
/* responsive */

@media(max-width:992px) {
    .relai2 {
        background: #C5AEA3;
    }
    .mob-img {
        display: block !important;
    }
    .reliable-cont h3 {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 0px;
        text-transform: none;
        color: #ffffff;
    }
    .her0 {
        max-width: 100%;
        margin: auto;
        padding: 0px;
    }
    .baner-ct p {
        padding-right: 0px;
    }
    .baner-ct {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: #000;
        padding-right: 0px;
        padding: 20px;
        text-align: center;
    }
    .baner-ct img {
        max-width: 110px;
    }
    .baner-ct h2 {
        font-size: 40px;
        color: #fff;
        line-height: 54px;
        text-transform: capitalize;
        font-weight: 600;
    }
    .baner-ct p {
        font-size: 17px;
        font-style: normal;
        color: #ffffff;
        padding-right: 0px;
        padding-top: 10px;
        line-height: 26px;
    }
    .sticky {
        top: 0;
        width: 100%;
        z-index: 999;
        position: relative;
    }
}

@media(max-width:778px) {
    .banner-sec {
        margin-top: 0px;
    }
    .her0 {
        max-width: 100%;
    }
    .logo img {
        max-width: 100px;
    }
    .header button.signbtn {
        display: none;
    }
    .header .sign-btn {
        text-align: center;
        padding: 0px;
    }
    .baner-ct {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        background: #000;
        opacity: 0.8;
        text-align: center;
        padding: 15px;
        margin: 10px;
    }
    .baner-ct h2 {
        font-size: 45px;
        color: #fff;
        line-height: 54px;
    }
    .baner-ct p {
        padding-right: 0px;
    }
    .tips-ct {
        margin: 15px;
    }
    .result-mian {
        padding: 45px 0px;
    }
    .rate-mian h3 {
        font-size: 35px;
    }
    .rate-mian p {
        font-size: 18px;
    }
    .resut-content h3 {
        font-size: 35px;
        font-weight: 700;
        text-align: center;
    }
    .resut-content p {
        font-size: 16px;
        text-align: center;
    }
    .tips-mian {
        padding: 0px;
    }
    .reliable-cont {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .Reliable-sec {
        padding-top: 30px !important;
    }
    .relai2 .reliable-cont {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .relai2 {
        background: #C5AEA3;
    }
    
    .mob-img {
        display: block;
    }
    .baner-ct p {
        font-size: 16px;
        line-height: 26px;
    }
    .Reliable-sec {
        padding: 0px;
    }
    .reliable-img img {
        padding-bottom: 30px;
    }
    .tipping-sec {
        padding: 20px;
    }
    .tipping-sec .section-title h3 {
        font-size: 40px;
        line-height: 54px;
    }
    .tipp-img img {
        max-width: 140px;
        height: 100%;
    }
    .tipping1 {
        text-align: center;
        margin: 25px 0px;
    }
    .tipping-ct h3 {
        font-size: 35px;
    }
    .tippimg-main {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .service-main {
        text-align: center;
    }
    .Services-sec {
        padding: 30px 0px;
    }
    .testimpnal-sec .section-title {
        text-align: center;
        padding-left: 0px;
    }
    .carousel-item h4 {
        margin: 20px auto;
        padding: 20px 15px;
    }
    .news-main {
        padding: 30px 30px 20px 20px;
        margin: 60px 0px;
        text-align: center;
    }
    .mes-cont h4 {
        font-size: 35px;
        font-weight: 700;
        line-height: 46px;
    }
    .mesbtn {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .wiinner-sec {
        padding: 40px 0px;
        text-align: center;
    }
    .winner-main h3 {
        font-size: 35px;
        line-height: 64px;
    }
    .footer-vct h4 {
        text-align: center;
    }
    .service-ct {
        padding-top: 20px;
    }
  }