
/* racesup-sec css start */
.raceup-sec {
    background: #F3F7F8;
    padding: 20px;
  }
  .raceup-sec .upcomming-table {
    padding-top: 1rem;
  }
  .raceup-sec th, td {
    text-align: left;
    padding: 8px;
  }
  
  .raceup-sec tr:nth-child(even){
    background-color: #FAFCFF;
  }
  
  .raceup-sec .upcomming-table tr:first-child {
    border-radius: 4px !important;
  }
  .raceup-sec th.first-border {
    border-start-start-radius: 17px !important;
    background: #000;
  }
  .raceup-sec th.first-border2 {
    border-start-end-radius: 20px
  }
  .raceup-sec .upcomming-table th {
    color: #fff;
    padding: 14px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    background-color: #000;
  }
  .raceup-sec .upcomming-table button.btn {
    background: #16446F;
    color: #fff;
    border-radius: 24px;
    padding: 5px 21px;
  }
  .raceup-sec .upcomming-table .btn-2 {
    background: #287D1A !important;
  }
  .raceup-sec .upcomming-table td:nth-child(3) {
    color: #10867F;
  }
  .raceup-sec .upcomming-table td {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.25px;
    color: #0A0E0F;
    padding: 15px;
  }
  .raceup-sec table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 16%);
    border-radius: 16px !important;
  }
  .raceup-sec h3.free-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #0A0E0F;
  }
  li.nav-item {
    text-transform: uppercase;
    margin: 0px 10px;
  }
  .upraces-img img {
    height: 392px;
    width: 100%;
    object-fit: revert;
    background-size: cover;
  }
  /* racesup css end  */
  
  