.box-about{
    width: 710px;
}
.pro_heading1ul li {
    list-style: lower-alpha;
}
.pro_heading{
    text-align: center;
}
.term_general ul li{
list-style: lower-alpha;


}
.term_general ul li ul li{
    list-style: lower-roman;
}
.term_general span{
    font-weight: 600;
}
.thankyoubg{
    background: url("../../Images/goat-slide.png") no-repeat;
    background-size: cover;
    height: 50%;
    background-size: 100% 129%;
    background-position: inherit;

}
.content .wrapper-2 p {
margin:19px auto ;
}