.box-about{
    width: 710px;
}
.pro_heading1ul li {
    list-style: lower-alpha;
}
.pro_heading{
    text-align: center;
}
.term_general ul li{
list-style: lower-alpha;


}
.term_general ul li ul li{
    list-style: lower-roman;
}
.term_general span{
    font-weight: 600;
}
.thankyoubg{
    background: url("../../Images/new-hero.png") no-repeat;
    background-size: cover;
    height: 40%;
    background-size: 99% 294%;
    background-position: inherit;

}